setuptools
wheel
pbr
filelock==3.13.1
raritan==20210223.0
jira==3.8.0
pyodbc==4.0.35
ldap3==2.6.1
dohq_artifactory==0.9.2
pygerrit2==2.0.15
python_jenkins==1.8.0
GitPython==3.1.29
beautifulsoup4==4.9.3
Office365-REST-Python-Client==2.4.1
humanize==4.7.0
PyGithub==2.1.1
psutil==6.1.0
PyYAML==6.0.1
pip-system-certs==4.0
langchain==0.3.16
langchain-openai==0.3.2
ping3==4.0.8
requests_ntlm==1.2.0